:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --test-input-field: #F7F7F7;
    --blue-fing: #4885ed;

}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr
    auto;
    width: 300px;
}
.logo {
    width: 300px;
    margin-bottom: 48px;
    justify-self: center;

}
.form {
    display: flex;
    flex-direction: column;
}
.form a {
    color: var(--blue-fing);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;

}
.input {
    background-color: var(--test-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;

}
.input email {
    margin-bottom: 22px;
}
.primary-button{
    background-color: var(--blue-fing);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
    
}
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--blue-fing);
    color: var(--blue-fing);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
    
}
.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px) {
    .logo {
        display: block;
    }
    .secondary-button{
        width: inherit;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }

}
